<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Pets</title>
    <link rel="stylesheet" href="../styles/stylesheet.css">
</head>
<body>
    <h1>Welcome to Home Pets!</h1>
    <a href="https://www.chewy.com/" target = "_blank">Shopping at Chewy Store!!!</a>
    <img src="images/pets.jpg" alt = "Picture of pets">
</body>
</html>
